body {
  padding-top: 70px;
}
.logo-image {
  height: 50px;
  width: auto;
}
.logined .dropdown-toggle {
  height: 50px;
}
.logined span {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  top: -5px;
}
.logined img {
  height: 46px;
  width: 46px;
  margin-top: -13px;
  border-radius: 46px;
}
.personal-padding {
  padding: 0;
}
.personal-padding .personal-info {
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.personal-padding .personal-info .head-background img {
  width: 100%;
  height: auto;
  border-radius: 3px 3px 0 0;
}
.personal-padding .personal-info .head-pic {
  width: 100px;
  height: 100px;
  margin: -50px auto 0;
}
.personal-padding .personal-info .head-pic img {
  width: 100px;
  height: auto;
  border-radius: 100px;
  border: 2px solid white;
}
.personal-padding .personal-info .ps-info {
  font-size: 16px;
  text-align: center;
  color: #737373;
}
.personal-padding .personal-info .ps-info a {
  color: #5e5e5e;
  display: inline-block;
  margin: 5px auto;
}
.personal-padding .personal-info .ps-info a:hover {
  text-decoration: none;
}
.personal-padding .personal-info .ps-info .ps-left {
  width: 50%;
  height: auto;
  float: left;
  margin-bottom: 30px;
  border-right: 1px solid #ccc;
}
.personal-padding .personal-info .ps-info .ps-left div {
  margin-right: 30px;
  float: right;
}
.personal-padding .personal-info .ps-info .ps-right div {
  float: left;
  margin-left: 30px;
}
.about-edit {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #737373;
}
.about-edit ul {
  margin-left: -25px;
}
.about-edit ul li {
  list-style: none;
  line-height: 30px;
}
.about-edit ul li span {
  display: inline-block;
  margin-right: 10px;
}
.photo-edit {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.photo-edit .photo-box {
  margin: 0 10px;
  padding: 0;
}
.photo-edit h4 {
  margin-left: 15px;
  color: #737373;
}
.photo-edit div {
  padding: 4px 2px;
}
.ft-article {
  margin: 0 15px;
  padding: 0 10px;
}
.ft-article .nav-tabs a {
  color: #5e5e5e;
}
.ft-article .tab-content {
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding-top: 1px;
  padding-right: 5px;
}
.ft-article .tab-content ul {
  margin-top: 30px;
  margin-left: -30px;
}
.ft-article .tab-content ul li {
  margin-bottom: 30px;
  list-style: none;
}
.ft-article .tab-content ul li .media-left .ft-article-head {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.ft-article .tab-content ul li .media-body h4 {
  float: left;
}
.ft-article .tab-content ul li .media-body small {
  color: #737373;
  display: block;
  float: right;
  padding-right: 5px;
}
.ft-article .tab-content ul li .media-body p {
  clear: both;
  line-height: 1.5em;
  color: #737373;
  text-indent: 2em;
  text-align: justify;
  text-justify: inter-ideograph;
  padding-right: 5px;
}
.ft-article .tab-content ul li .media-body .article-photo div {
  padding-left: 0;
  padding-right: 5px;
  padding-bottom: 15px;
}
.ft-article .tab-content ul li .media-body .ft-article-footer {
  clear: both;
  position: relative;
  top: -10px;
}
.ft-article .tab-content ul li .media-body .ft-article-footer .comment-menu {
  display: inline-block;
  float: right;
  margin-top: -5px;
}
.ft-article .tab-content ul li .media-body .ft-article-footer .comment-menu a {
  color: #737373;
}
.ft-article .tab-content ul li .media-body .ft-article-footer .comment-menu a small {
  display: inline-block;
  margin-left: 5px;
}
.ft-article .tab-content ul li .media-body .ft-article-footer .comment-menu a:hover {
  color: #005e3c;
}
.ft-article .tab-content ul li .media-body .ft-article-footer .comment {
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #ddd;
}
.ft-article .tab-content ul li .media-body .ft-article-footer .comment .triangle {
  height: auto;
  position: relative;
  top: -15px;
  color: #ddd;
}
.ft-article .tab-content ul li .media-body .ft-article-footer .comment .comment-praise {
  margin-right: 10px;
  margin-left: -10px;
}
.ft-article .tab-content ul li .media-body .ft-article-footer .comment .comment-content {
  border-top: 1px solid #aaa;
  margin-top: 10px;
}
.ft-article .tab-content ul li .media-body .ft-article-footer .comment .comment-content .comment-head {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.ft-article .tab-content ul li .media-body .ft-article-footer .comment .comment-content .media {
  padding: 5px;
}
.ft-article .tab-content ul li .media-body .ft-article-footer .comment .comment-content .media .media-body p {
  color: #333;
  display: inline-block;
  margin-left: 5px;
  padding-top: 5px;
  text-indent: 0;
}
.other-info {
  padding: 0;
}
.other-info .hot-topic {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.other-info .homeCreatHotpoint {
  display: inline-block;
  padding: 0;
  margin: 0 0 20px;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #005e3c;
  color: white;
  border-radius: 5px;
}
.other-info .copy-info {
  margin-top: 20px;
  padding-top: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
}
.other-info .ft-recommend-head {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.showImg {
  z-index: 1000;
  width: 80%;
  height: auto;
}
.login-logo {
  width: 40%;
  height: auto;
  margin-left: -10px;
  margin-bottom: -20px;
}
.forget-password {
  display: inline-block;
  margin-left: 10px;
}
.forget-password a {
  color: #005e3c;
}
.forget-password a:hover {
  color: deepskyblue;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .personal-info {
    border: 0 !important;
    position: relative;
    top: -18px;
  }
  .about-edit {
    display: none !important;
    border: 0 !important;
  }
  .photo-edit {
    display: none !important;
    border: 0 !important;
  }
  .ft-article {
    padding: 0 ;
    margin: -20px 0 0;
  }
  .ft-article .nav-tabs {
    margin: 0;
  }
  .ft-article .tab-content {
    margin: 0;
    padding: 0;
    border: 0 !important;
  }
  .other-info .homeCreatHotpoint {
    width: 90%;
    margin: 0 5% 20px;
  }
  .other-info .hot-topic {
    border: 0 !important;
  }
  .other-info .copy-info {
    border: 0 !important;
  }

}
